body {
    background-color: #2d3036;
}

.navbar {
    background-color: #2d3036; 
    height: 60px; 
    overflow: hidden; 
    transition: height 0.3s ease-in-out; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.nav-description {
    transform: translateY(-250%); /* hides the description initially */
    transition: transform 0.3s ease-in-out; 
    color: #ffffff; 
    width: 100%;
    text-align: center; 
    font-size: 15px;
}

.navbar:hover {
    height: 100px;
}

.navbar:hover .nav-description {
    transform: translateY(10%); /* moves the text description down */
}

.container {
    padding-top: 60px;
    color: #ffffff;
}

.intro {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.col-10 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: #1db954; 
    border: none;
    color: black; 
    text-align: center;
    font-size: 16px; 
    margin: 10px 8px;
    cursor: pointer; 
    padding: 10px 25px; 
}
