body {
    background-color: #2d3036;
}

.navbar {
    background-color: #2d3036; 
    height: 60px; 
    overflow: hidden; 
    transition: height 0.3s ease-in-out; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.nav-description {
    transform: translateY(-250%); /* hides the description initially */
    transition: transform 0.3s ease-in-out; 
    color: #ffffff; 
    width: 100%;
    text-align: center; 
    font-size: 15px;
}

.navbar:hover {
    height: 100px;
}

.navbar:hover .nav-description {
    transform: translateY(10%); /* moves the text description down */
}

.container {
    padding-top: 50px;
    color: #ffffff;
}

.intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.col-10 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.btn-primary {
    background-color: #1db954; 
    border: none;
    color: black; 
    text-align: center;
    font-size: 16px; 
    margin: 10px 8px;
    cursor: pointer; 
    padding: 10px 25px; 
}

hr.gradient {
    margin: 30px;
    width: 95%;
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
    90deg,
    rgba(0,105,217,255) 0%,
    rgba(6, 84, 170, 1) 25%,
    rgba(29,185,84,255) 75%
  );
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#dataset-options {
    width: 150px; 
}

